<html>
    <head>
        <title>Success!</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="dropdown">
        <button class="dropbtn"><a href="/">Back</a></button>
        <div class="dropdown-content">
            <a href="/">Add Rule</a>
            <a href="/show">Show Rules</a>
            <a href="/delete">Delete Rule</a>
        </div>
        </div>
        <div id="container">
            <div class="title">
                <h1>Success!</h1>
            </div>
            <div id="content">
                {{msg}}
            </div>
        </div>
    </body>
</html>